ID, MB ID, Artist Name, Status, Monitored (new?), Last Album (ID|Title), Next Album (ID|Title)

{{#artists}}
{{id}}, {{fn_best_id}}, "{{fn_short_artist_name}}", {{status}}, {{monitored}} ({{monitorNewItems}}), {{fn_last_album}}, {{fn_next_album}}
{{/artists}}
